<div class="container-fluid">
  <section class="timeline">
    <ul>
      <li>
        <div>
          <time class="job-date">06.2015 - 12.2017</time>
          <time class="job-name">
            <span class="job-highlight">Web Application Developer</span> CapitalOne, Plano Texas.</time>
          <time class="job-desc">
            <i class="fa fa-circle"></i> Internal Web Application (Policy Admin UI | ForgeRock )
            <br>
            <i class="fa fa-circle"></i> AngualrJS 1.5, Angualrjs 4/5, HTML, CSS/SCSS, Bootstraps, JAVA, NodeJs, Typescripts, ES6s
          </time>
        </div>
      </li>
      <li>
        <div>
          <time class="job-date">12.2013 to 05.2015</time>
          <time class="job-name">
            <span class="job-highlight">Front End Developer</span> - AT&T, Dallas Texas.</time>
          <time class="job-desc">
            <i class="fa fa-circle"></i> eBiz Business Center portal for AT&T’s business customers B2C and B2B application, Work Center Agent Application.
          <br>
            <i class="fa fa-circle"></i> HTML, HTML5, JavaScript, Handlebar, JSP, AngularJS 1.2, CSS, CSS3, LESS, SASS, Bootstrap, REST service, SQL, Oracle 10/11i, Linux
          </time>
        </div>
      </li>
      <li>
        <div>
          <time class="job-date">06.2011 to 11.2013</time>
          <time class="job-name">
            <span class="job-highlight">UI Developer</span> Kohl’s - Menomonee Falls, WI  </time>
          <time class="job-desc">
            <i class="fa fa-circle"></i> Internal Web application, Verify order lists
            <br>
            <i class="fa fa-circle"></i> External customer facing web application, Online end to end order.
            <br>
            <i class="fa fa-circle"></i> HTM ,CSS, Bootstrap, JavaScript, AJAX, JQuery, JSP, XML, JAVA, Linux, SQL, Oracle
          </time>
        </div>
      </li>
      <li>
        <div>
          <time class="job-date">12.2009 to 05.2011</time>
          <time class="job-name">
            <span class="job-highlight">Web Developer</span> Cobalt – Seattle, WA</time>
          <time class="job-desc">
            <i class="fa fa-circle"></i> Customer / User inter facing web application.
            <br>
            <i class="fa fa-circle"></i> JavaScript, CSS, AJAX, jQuery, HTML, XML, CSS, Linux, SQL, PL/SQL, Oracle 
       
          </time>
        </div>
      </li>
    
    </ul>
  </section>

</div>