<div class="container-fluid">
  <div class="card-deck">
    <div class="card text-center">
      <div class="ribbon ribbon-blue">
        <span>Work</span>
      </div>
      <img class="card-img-top" src="assets/images/p1.png">
      <div class="card-body ">
        <hr class="style-three">
        <h4 class="card-title">ReatcJS</h4>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/mrpatel15/ReactJS-Projects" class="btn btn-primary" style="margin-right:10px;">Web</a>
        <a target="_blank" rel="noopener" href="https://github.com/mrpatel15/reactjs-sample" class="btn btn-primary">Android</a>
      </div>
    </div>
    <div class="card text-center">
      <div class="ribbon ribbon-blue">
        <span>Learn</span>
      </div>
      <img class="card-img-top" src="assets/images/p2.png">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">VueJs</h4>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/mrpatel15/vue2-tutorial" class="btn btn-primary">More</a>
      </div>
    </div>
    <div class="card text-center">
      <div class="ribbon ribbon-orange ">
        <span>Experience</span>
      </div>
      <img class="card-img-top" src="assets/images/p3.png">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">AngularJs 1.5</h4>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/mrpatel15/AngualrJS-1.5-example" class="btn btn-primary">More</a>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card text-center">
      <div class="ribbon ribbon-orange ">
        <span>Experience</span>
      </div>
      <img class="card-img-top" src="assets/images/p7.png">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">AngularJS 2 and Firebase Authentication</h4>
        <p class="card-text"></p>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/mrpatel15/angular-firebase-authentication-sample" class="btn btn-primary">More</a>
      </div>
    </div>
    <div class="card text-center">
      <div class="ribbon ribbon-black">
        <span>Learn</span>
      </div>
      <img class="card-img-top" src="assets/images/p4.jpg">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">MEAN4+ Starter</h4>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/mrpatel15/mean4plus" class="btn btn-primary">More</a>
      </div>
    </div>
    <div class="card text-center">
      <div class="ribbon ribbon-orange ">
        <span>Learn</span>
      </div>
      <img class="card-img-top" src="assets/images/p8.png">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">CRUD using AngularJS 5</h4>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/mrpatel15/ng5" class="btn btn-primary">More</a>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card text-center">
      <div class="ribbon ribbon-orange ">
        <span>Learn</span>
      </div>
      <img class="card-img-top" src="assets/images/p6.png">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">Java Learning </h4>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/mrpatel15/Java-Examples" class="btn btn-primary">More</a>
      </div>
    </div>
    <div class="card text-center">
      <div class="ribbon ribbon-orange ">
        <span>Learn</span>
      </div>
      <img class="card-img-top" src="assets/images/p5.png">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">Python learing</h4>
        <p class="card-text"> </p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/mrpatel15/awesome-python" class="btn btn-primary">More</a>
      </div>
    </div>
    <div class="card text-center">
      <div class="ribbon ribbon-orange ">
        <span>CV</span>
      </div>
      <img class="card-img-top" src="assets/images/p9.png">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">Portfolio</h4>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/mrpatel15" class="btn btn-primary">More</a>
      </div>
    </div>
  </div>
</div>